h4{
    color: blueviolet;
    background-color: burlywood;
}

#n{
    font-style: italic;
}

.box{
    border: 2px solid red;
    margin: 50px 30% 0 30%;
    padding: 20px;
}

.box button{
    margin: auto;
    padding: 5px;
}